# Set charset to UTF-8
AddDefaultCharset UTF-8

# Enable directory listing
Options +Indexes
IndexOptions +FancyIndexing +HTMLTable +SuppressHTMLPreamble
ReadmeName README.html

# Set correct content type
AddType application/x-debian-package .deb

# Allow access to .gpg/.asc files
AddType application/pgp-signature .gpg .asc
